<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <header class="header-log">
      <div class="logo-log">
        <h1>
          <a href="/"><img src="/img/Huerto-market.png" alt="logo" /></a>
        </h1>
      </div>
    </header>
    <main class="main-container">
      <div id="errores">
        <ul></ul>
      </div>
      <form action="/" method="get" class="form-menu">
        <div class="user">
          <i class="fas fa-user"></i>
        </div>
        <div>
          <h2 class="log-title">Ingresá</h2>
        </div>
        <div class="log-item">
          <label for="email" class="form-label"
            ><i class="fas fa-user"></i
          ></label>
          <input
            type="email"
            name="email"
            id="email"
            class="log form-input"
            placeholder="Email"
          />
          <small class="errorEmail"></small>
        </div>
        <div class="log-item">
          <label for="pass"><i class="fas fa-lock"></i></label>
          <input
            type="password"
            name="pass"
            id="pass"
            class="log form-input"
            placeholder="Contraseña"
          />
        </div>
        <p class="register-text"></p>
        <div class="form-item btn-container">
          <button type="submit" class="search-btn register-btn">
            Inicia Sesión
          </button>
        </div>
      </form>
      <div class="forget-pass">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
      <p class="register-text">¿No sos miembro?</p>
      <div class="form-item btn-container">
        <button type="submit" class="search-btn register-btn">
          <a href="/users/register">Registrate</a>
        </button>
      </div>
    </main>
    <footer>
      <section class="redes">
        <img src="/img/fiscal.jpg" weight="70px" height="70px" alt="fiscal" />
        <h4>Seguinos</h4>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google"></i></a>
      </section>
    </footer>
    <script src="/js/login.js"></script>
  </body>
</html>
