.footer-container {
  background-color: #fef9ec;
  font-size: 14px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.title-footer {
  margin: 0px;
  padding: 10px;
  font-family: "Yusei Magic";
}

.icon-up {
  position: fixed;
  top: 1070px;
  left: 1130px;
}

.icon-up img {
  width: 50px;
}

/*BOTONES*/
.search-btn {
  background-color: #ec9f00;
  padding: 5px;
  border-radius: 10%;
}

.search-btn a {
  color: #0c5d5e;
  text-decoration: none;
}

.resenias {
  background-color: #939597;
  text-align: center;
  padding: 20px;
  color: #fef9ec;
}

.contacto {
  background-color: #fb9902;
  padding: 15px;
  padding-right: 40px;
  text-align: center;
  color: #fef9ec;
  padding-bottom: 25px;
  width: 100%;
}

.contacto p {
  padding: 15px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.contacto i {
  margin-right: 5px;
  font-size: 20px;
}

.registro {
  background-color: #a0daa9;
  padding: 20px;
  text-align: center;
  color: #0c5d5e;
}

.redes {
  background-color: #fccb1a;
  padding: 10px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.redes-container {
  padding: 5px;
}

.redes i {
  color: #0c5d5e;
  padding: 10px;
  font-size: 20px;
}

.icon-up {
  position: fixed;
  top: 490px;
  left: 290px;
}

/* Media-Queries */
@media (min-width: 760px) {
  .resenias {
    margin-top: 65px;
    margin-left: 20px;
    padding-bottom: 40px;
    width: 50%;
    height: 190px;
    letter-spacing: 1px;
  }

  .resenias:hover {
    transform: translateY(-3px) scale(1.05);
  }

  .resenias .envio {
    width: 50%;
  }

  .contacto {
    height: fit-content;
    padding-right: 0px;
    margin-top: 20px;
    width: 40%;
  }

  .contacto:hover {
    transform: translateY(-3px) scale(1.05);
  }

  .registro {
    position: absolute;
    top: 173px;
    right: 20px;
    width: 48%;
    letter-spacing: 1px;
  }

  .registro:hover {
    transform: translateY(-3px) scale(1.05);
  }

  .icon-up {
    top: 960px;
    left: 700px;
  }
}

@media (min-width: 1200px) {
  .resenias {
    margin-top: 55px;
    margin-left: 80px;
    width: 50%;
  }

  .resenias-envio p {
    width: 10%;
  }

  .contacto {
    width: 35%;
    letter-spacing: 1px;
  }

  .registro {
    width: 45%;
    right: 80px;
  }

  .redes {
    padding: 25px;
  }

  .redes-container {
    padding: 5px;
    display: inline-flex;
  }

  .search-btn:hover {
    box-shadow: 2px 2px 5px #0c5d5e;
  }

  .icon-up {
    top: 890px;
    left: 1130px;
  }
}
