/*ESTILOS GENERALES*/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", sans-serif;
}

.header-container {
  background-color: #fccb1a;
}

.main,
.header-log {
  background-color: #fef9ec;
}

/*HEADER*/

.header-logo,
.logo-log {
  text-align: center;
  position: relative;
}

.header-logo img,
.logo-log img {
  width: 220px;
  height: 190px;
  text-align: center;
  margin-top: 60px;
  border-radius: 50%;
  padding: 15px;
}

.logo-log img {
  margin-top: 25px;
  margin-bottom: 25px;
}

.logo-log h1 {
  margin: 0px;
}

.logo-log {
  padding-bottom: 80px;
}

.account-container {
  position: absolute;
  top: 30px;
  left: 90px;
  font-size: 16px;
}

.cart-container {
  position: absolute;
  top: 27px;
  right: 30px;
  font-size: 18px;
}

.cart-container i,
.account-container a,
.account-container i {
  color: #0a3409;
}

.cart-container .heart,
.menu-list .close,
.search .lupa {
  background-color: #fccb1a;
  color: #0a3409;
  border: none;
}

.search {
  display: flex;
  margin: 10px;
  padding: 5px;
}
.search-bar {
  flex-grow: 0.9;
}

.search input {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.search .lupa {
  padding: 5px;
}

/*BARRA DE NAVEGACION*/

.menu-list {
  display: none;
  background-color: #fccb1a;
  position: fixed;
  width: 90%;
  font-size: 27px;
  z-index: 10;
  text-align: center;
  top: 0px;
  border: #0c5d5e solid 1px;
}

.menu-container .list {
  list-style-type: none;
  padding: 5px;
  margin-top: 10px;
}

.menu-container a {
  text-decoration: none;
  color: #0a3409;
}

#menu-button {
  text-align: left;
  background-color: #0a3409;
  color: white;
  padding: 13px;
  position: fixed;
  top: 20px;
  left: 15px;
  z-index: 10;
}

.close {
  position: fixed;
  top: 20px;
  left: 17px;
  font-size: 46px;
}

.header-image img {
  width: 100%;
  display: none;
}

.header-title {
  display: none;
}

.encabezado {
  color: #0a3409;
  background-color: #a0daa9;
  text-align: center;
  font-size: 10px;
  padding: 14px;
  text-indent: 20px;
  letter-spacing: 1px;
}

.encabezado a {
  text-decoration: none;
  color: #0a3409;
}

.dropdown {
  position: relative;
}

/* Media-Queries */
@media (min-width: 760px) {
  .menu-list {
    width: 34%;
  }

  .search {
    position: absolute;
    top: 10px;
    right: 65px;
  }

  .header-logo {
    height: 85px;
  }

  .header-logo img {
    margin-top: 0px;
  }

  .header-image img {
    display: initial;
    height: 425px;
  }

  .header-title {
    display: initial;
  }

  .header-title .title {
    font-family: "Yusei Magic", sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #0c5d5e;
    position: absolute;
    top: 230px;
    margin: 30px;
  }

  .header-title .text {
    position: absolute;
    top: 340px;
    left: 100px;
    font-size: 30px;
    color: #ec9f00;
  }

  .encabezado i {
    padding-right: 5px;
    padding-left: 10px;
  }

  .encabezado {
    font-size: 14px;
    padding: 16px;
    margin-top: -10px;
  }
}

@media (min-width: 1200px) {
  .search {
    right: 80px;
    width: 30%;
  }

  .logo-log {
    text-align: left;
    margin-left: 85px;
  }

  .encabezado {
    font-size: 18px;
    padding: 18px;
    margin-top: -10px;
  }

  .header-title .text {
    top: 300px;
    margin: 40px;
  }

  .header-title .title {
    top: 210px;
    margin: 50px;
  }

  .cart-container {
    letter-spacing: 10px;
  }

  .heart,
  i:hover {
    color: #0c5d5e;
    transition-property: color;
    transition-duration: 1s;
  }
}
