.products .h2 {
  text-align: center;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #ec9f00;
  background-color: #fef9ec;
}

.h3 {
  text-align: center;
  padding: 20px;
  color: #0c5d5e;
}

.favoritos i {
  color: #ec9f00;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.product-article {
  position: relative;
}

.product-article img {
  max-height: 300px;
}

.price {
  font-weight: bold;
  color: #0c5d5e;
}

.vegan img {
  display: none;
}

.title-vendidos {
  position: relative;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.title {
  display: block;
  flex: 1;
  height: 3px;
  opacity: 0.2;
  background-color: #0c5d5e;
}

.title-vendidos h1 {
  color: #fba90a;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.contenedor-masVendidos {
  padding: 10px;
  border: 2px solid #0c5d5e;
  margin: 10px;
  text-align: center;
  position: relative;
}

.contenedor-masVendidos img {
  width: 100%;
  text-align: center;
  box-shadow: 20px 30px 40px 0px rgb(0 0 0 / 20%);
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.share-title {
  font-weight: bold;
  font-size: 14px;
  padding-left: 30px;
}

.share ul li {
  background-color: rgba(12, 93, 94, 0.4);
  padding: 15px;
  width: 70%;
}

.share ul li {
  display: inline-block;
  margin: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

/* Media-Queries */
@media (min-width: 760px) {
  .vegan img {
    display: initial;
    width: 85%;
    margin-left: 60px;
  }

  .mas-vendidos .h3 {
    margin-top: 50px;
  }

  .contenedor-masVendidos {
    display: flex;
    border: none;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .contenedor-masVendidos img {
    width: 30%;
  }

  .contenedor-texto {
    align-self: center;
    padding: 20px;
    margin: 30px;
  }

  .imagen {
    order: 2;
  }

  .product-article:hover {
    background-color: #a0daa97c;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }

  .share ul li:hover {
    transform: translateY(-3px) scale(1.05);
    background-color: #fbab0a96;
  }

  .contenedor-masVendidos img:hover {
    transform: translateY(-3px) scale(1.05);
  }
}

@media (min-width: 1200px) {
  .product-article {
    width: 23%;
  }

  .vegan img {
    width: 75%;
    margin-left: 130px;
  }

  .title-vendidos {
    padding-top: 70px;
  }

  .contenedor-masVendidos {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
