<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/other-pages.css" />
  </head>

  <body>
    <%- include ("./partials/header.ejs") %>
    <main class="main-container">
      <section class="sucursales">
        <h1>Sucursales</h1>
        <p>
          <i class="fas fa-thumbtack"></i>Retira gratis en nuestras sucursales:
        </p>
      </section>
      <div class="sucursales-container">
        <article class="sucursal-article">
          <img
            src="/img/sucursal-1.png"
            width="300"
            height="300"
            alt="sucursal1"
          />
          <div class="sucursal-item">
            <p>Cosme 1380.</p>
            <p>Telefono: 1385782</p>
            <p>Horario de atención: Lunes a Viernes 9:00 a 19:00hs</p>
          </div>
          <div class="shop">
            <i class="fas fa-store-alt"></i>
          </div>
        </article>
        <article class="sucursal-article">
          <img
            src="/img/sucursal-2.png"
            width="300"
            height="300"
            alt="sucursal2"
          />
          <div class="sucursal-item">
            <p>Fulanito 125</p>
            <p>Telefono: 4892471</p>
            <p>Horario de atención: Lunes a Viernes 9:00 a 19:00hs</p>
          </div>
          <div class="shop">
            <i class="fas fa-store-alt"></i>
          </div>
        </article>
        <article class="sucursal-article">
          <img
            src="/img/sucursal-3.png"
            width="300"
            height="300"
            alt="sucursal3"
          />
          <div class="sucursal-item">
            <p>Calle Falsa 123</p>
            <p>Telefono: 9876424</p>
            <p>Horario de atención: Lunes a Viernes 9:00 a 19:00hs</p>
          </div>
          <div class="shop">
            <i class="fas fa-store-alt"></i>
          </div>
        </article>
      </div>
      <div class="gif-fruit">
        <img src="/img/gif-1.gif" alt="gif1" />
        <img src="/img/gif-2.gif" alt="gif2" />
        <img src="/img/gif-4.gif" alt="gif4" />
        <img src="/img/gif-3.gif" alt="gif3" />
        <img src="/img/gif-5.gif" alt="gif5" />
      </div>
      <section class="entrega">
        <h1>Horarios y zonas de entrega</h1>
      </section>
      <section class="mapa">
        <img src="/img/envio.png" />
      </section>
      <form action="/" method="get" class="form-menu">
        <div class="usuario"></div>
        <label class="perfil">Zona de repartos</label>
        <select name="perfil" id="perfil">
          <option value="domicilio">Agronomia</option>
          <option value="domicilio">Almagro</option>
          <option value="domicilio">Balvanera</option>
          <option value="domicilio">Belgrano</option>
          <option value="domicilio">Boedo</option>
          <option value="domicilio">Caballito</option>
          <option value="domicilio">Chacarita</option>
          <option value="domicilio">Colegiales</option>
          <option value="domicilio">Flores</option>
          <option value="domicilio">Floresta</option>
          <option value="domicilio">Martinez</option>
          <option value="domicilio">Monserrat</option>
          <option value="domicilio">Monte Castro</option>
          <option value="domicilio">Nuñez</option>
          <option value="domicilio">Palermo</option>
          <option value="domicilio">Paternal</option>
          <option value="domicilio">Parque Chas</option>
          <option value="domicilio">Parque Avellaneda</option>
          <option value="domicilio">Parque Patricios</option>
          <option value="domicilio">Puerto Madero</option>
          <option value="domicilio">Recoleta</option>
          <option value="domicilio">Retiro</option>
          <option value="domicilio">Saavedra</option>
          <option value="domicilio">San Cristobal</option>
          <option value="domicilio">San Telmo</option>
          <option value="domicilio">Velez Sarsfield</option>
          <option value="domicilio">Versalles</option>
          <option value="domicilio">Villa Crespo</option>
          <option value="domicilio">Villa del Parque</option>
          <option value="domicilio">Villa Devoto</option>
          <option value="domicilio">Villa general mitre</option>
          <option value="domicilio">Villa Lugano</option>
          <option value="domicilio">Villa Luro</option>
          <option value="domicilio">Villa Ortuzar</option>
          <option value="domicilio">Villa Pueyrredon</option>
          <option value="domicilio">Villa Real</option>
          <option value="domicilio">Villa Riachuelo</option>
          <option value="domicilio">Villa Santa Rita</option>
          <option value="domicilio">Villa Soldati</option>
          <option value="domicilio">Villa Urquiza</option>
        </select>
      </form>
      <section>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d420266.8146622823!2d-58.42876119999999!3d-34.6209866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1613973350046!5m2!1ses!2sar"
        ></iframe>
      </section>
      <form action="/" method="get" class="form-menu">
        <h1>¿No llegamos a tu zona?</h1>
        <p>Dejanos tus datos para agregar tu zona a nuestro itinerario</p>
        <div class="form-item">
          <label class="form-label" for="name">Nombre y Apellido</label>
          <input type="text" required class="form-input" />
        </div>
        <div class="form-item">
          <label for="email" required class="form-label">E-mail</label>
          <input
            type="email"
            name="email"
            id="email"
            required
            class="form-input"
          />
        </div>
        <div class="form-item">
          <label for="password" required class="form-label">Domicilio</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            class="form-input"
          />
        </div>
        <div class="form-item">
          <label>Dejanos tu comentario</label>
          <textarea class="form-input"></textarea>
        </div>
        <div class="modificar-datos">
          <button type="submit">Enviar datos</button>
          <button type="reset">Borrar</button>
        </div>
      </form>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
