<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/other-pages.css" />
  </head>

  <body class="help-container">
    <main>
      <section class="error-container">
        <article class="gif">
          <a href="/"><img src="/img/huerto-gif.gif" alt="gif" /></a>
        </article>
        <article class="error">
          <img src="/img/error-404.png" alt="error" />
        </article>
      </section>
      <div class="errores-productos">
        <div class="card">
          <h5 class="card-header"></h5>
          <div class="card-body">
            <h5 class="card-title" id="title-error">
              Conocé nuestra lista de productos
            </h5>
            <p class="card-text" id="subtitle-error">¡No te los pierdas!</p>
            <a href="/products" class="btn btn-success">Ver más</a>
          </div>
        </div>
      </div>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
