<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <link rel="stylesheet" href="/css/other-pages.css" />
    <link rel="stylesheet" href="/css/forms.css" />
  </head>

  <body>
    <%- include("./partials/header.ejs") %>
    <main class="help-container">
      <section class="seleccionar-productos">
        <h1>¿Cómo seleccionar los productos?</h1>
        <img src="/img/ayuda.png" alt="ayuda" />
      </section>
      <div class="gif-fruit">
        <img src="/img/gif-1.gif" alt="gif1" />
        <img src="/img/gif-2.gif" alt="gif2" />
        <img src="/img/gif-4.gif" alt="gif4" />
        <img src="/img/gif-3.gif" alt="gif3" />
        <img src="/img/gif-5.gif" alt="gif5" />
      </div>
      <section class="seleccionar-productos">
        <h1>¿Cómo realizar la compra?</h1>
        <img src="/img/carrito-compra.png" alt="carrito" />
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
