<footer class="footer-container">
  <section class="resenias envio">
    <h4 class="title-footer"><i class="fas fa-truck"></i>Envíos</h4>
    <p>
      Realizamos envíos sin cargo por compras superiores a $2500,en CABA y GBA.
      El costo del envío es de $500 en todo el país.
    </p>
  </section>

  <section class="contacto" id="contact">
    <h4 class="title-footer">Contacto</h4>
    <p><i class="fab fa-whatsapp"></i>137894785</p>
    <p><i class="fas fa-paper-plane"></i>huerto.market@todobien.com</p>
  </section>

  <section class="registro">
    <h4 class="title-footer">Registrate</h4>
    <p>Para formar parte de nuestra comunidad. Completá el formulario</p>
    <button class="search-btn"><a href="/users/register">Registrate</a></button>
  </section>

  <section class="redes">
    <img src="/img/fiscal.jpg" weight="70px" height="70px" alt="fiscal" />
    <h4 class="title-footer">Seguinos</h4>
    <ul>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-google"></i></a>
    </ul>
  </section>

  <section class="icon-up">
    <a href="#section-header"> <img src="/img/up-arrow.png" alt="icon up" /></a>
  </section>
</footer>
