<header class="header-container" id="section-header">
  <div class="header-logo">
    <a href="/"><img src="/img/Huerto-market.png" alt="Logo" class="logo" /></a>
    
    <article class="account-container">
      <div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="fas fa-user"></i>  Mi cuenta
  </button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li><button class="dropdown-item" type="button"><a href="/users/logIn" class="account">Ingresar</a></button></li>
    <li><button class="dropdown-item" type="button"><a href="/users/register" class="account">Crear cuenta</a></button></li>
    <li><button class="dropdown-item" type="button"><a href="/" class="account">Log out</a></button></li>
  </ul>
</div>
    </article>
    <div class="cart-container">
      <button type="submit" class="heart"><i class="fas fa-heart"></i></i></button>
      <a href="/products/productCart" class="cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
  </div>
  <div>
    <button id="menu-button"><i class="fas fa-bars burger"></i></button>
  </div>
  <div class="search">
    <div class="search-bar">
     <form action="/products/buscar" method="GET">
      <input type="text" name="word" placeholder="Buscar productos" />
    </div>
    <button class="submit lupa" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="header-image">
    <img src="/img/healthy-lunch-banner.jpg" alt="imagen de header" />
    <div class="header-title">
      <h2 class="title">HUERTO MARKET</h2>
      <p class="text">Comer rico hace bien</p>
    </div>
  </div>
  <div class="encabezado">
    <i class="fas fa-hand-paper"> </i><a href="/help">AYUDA</a>
    <i class="fas fa-truck"> </i><a href="/envios">ENVÍOS</a>
    <i class="fas fa-phone-alt"></i> <a href="#contact">ATENCIÓN AL CLIENTE</a>
  </div>
</header>